.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px; /* barre fine par défaut */
  height: 100vh;
  background-color: rgb(255, 148, 148);
  padding-top: 0.5rem;
  transition: width 0.3s ease;
  z-index: 1000;
  overflow: hidden;
}

.sidebar:hover {
  width: 250px; /* dépliée au hover */
}

.sidebar .sidebar-logo {
 text-align: center;
  color: black;
  height: 40px;
  margin-bottom: 2rem;
}

/* Show icon by default, hide text */
.icon-logo {
  display: inline-block;
}

.text-logo {
  display: none;
  font-size: 3rem;
  white-space: nowrap;
}

/* On sidebar hover, hide icon and show text */
.sidebar:hover .icon-logo {
  display: none;
}

.sidebar:hover .text-logo {
  display: block;
}

.sidebar-nav .nav-link {
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0.9rem;
  display: flex;
  align-items: center;
  border: none !important;
}

.sidebar-nav .nav-link:hover {
  background-color: #e96666;
  color: white;
}

.sidebar .nav-link .link-text {
  margin-left: 7px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar:hover .nav-link .link-text {
  opacity: 1;
}

/* Style the active page in the sidebar */
.sidebar-nav .nav-link.active {
  background-color: #e96666; 
  color: white;           
  width: 50px; 
  transition: width 0.3s ease;         
}

.sidebar:hover .nav-link.active {
  width: 250px;
}

/* Default collapsed state */
#dropdown-container {
  width: 50px;
  transition: width 0.3s ease;
  margin-bottom: 8px;
}

/* On sidebar hover, expand dropdown container */
.sidebar:hover #dropdown-container {
  width: 250px;  /* Match your expanded sidebar width */
}